<footer class="footer bg-light navbar-dark mt-5">
  <div class="container">
      <div class="row">
          <small class="col-md-12">
            This platform is currently in beta and you may experience bugs. If you do please contact <a href="mailto:it@vatpac.org">it@vatpac.org</a>.
          </small>
      </div>
      <br>
      <div class="row">
          <div class="col-md-12 mb-3">
              <small class="text-muted">Copyright &#169; 1998-2018 VATSIM Australia Pacific | Designed by Liesel Downes (VATPAC IT) 1364284</small><br>
              <small class="text-muted"><a href="https://vatpac.org">VATPAC Website</a></small>
          </div>
      </div>
  </div>
</footer>
