<div class="container" style="margin-top: 20px;">
  <h4>ATC Applications</h4>
  <br/>
  <div class="card">
    <div class="card-header">Settings</div>
    <div class="card-body">
      <div class="form">
        <div class="form-group">
          <label class="form-label">Shift Length (minutes)</label>
          <input type="number" class="form-control">
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="card">
    <div class="card-header">Positions</div>
    <div class="card-body">
      <div class="container-fluid bg-light">
        <a class="btn btn-primary btn-sm" href="">Add position</a>
        <a class="ml-3 btn btn-danger btn-sm" href="">Clear all positions</a>
      </div>
      <br>
      <table datatable class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Callsign</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">YPAD</th>
            <td>AD_TWR</td>
            <td style="text-align: center;">
              <a class="text-danger" style="text-decoration: none;" href="#">
                  <fa-icon icon="times"></fa-icon> 
                  Remove
              </a>  
            </td>
          </tr>
          <tr>
              <th scope="row">CTR</th>
              <td>ML-TBD_CTR</td>
              <td style="text-align: center;">
                <a class="text-danger" style="text-decoration: none;" href="#">
                    <fa-icon icon="times"></fa-icon> 
                    Remove
                </a>  
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">Applications</div>
    <div class="card-body">
      <table datatable class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Controller</th>
            <th scope="col">tom please fix this with what needs to be here</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Liesel Downes 1364284 (C1)</th>
            <td>"Put simply, a City Pair event is exactly what the name suggests - Two vACC's (or a vACC and Division in this case) Team up to provide Air Traffic Control Services between two airports of their choice."</td>
            <td style="text-align: center;">
              <a class="text-danger" style="text-decoration: none;" href="#">
                  <fa-icon icon="times"></fa-icon> 
                  Remove
              </a>  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
