<div class="container mt-4">
  <form [formGroup]="user" (submit)="updateUser()">
    <div class="card">
      <div class="card-header">
        {{user.controls['name'].value}}'s Profile
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>CID</label>
          <input type="text" class="form-control" placeholder="123456" formControlName="cid">
        </div>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="John Smith" formControlName="name">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="johnsmith@gmail.com" formControlName="email">
        </div>
        <div class="row">
          <div class="form-group col-12 col-md-4">
            <label>Country</label>
            <input type="text" class="form-control" placeholder="AU" formControlName="country">
          </div>
          <div class="form-group col-12 col-md-4">
            <label>Region</label>
            <input type="text" class="form-control" placeholder="OCEN" formControlName="region">
          </div>
          <div class="form-group col-12 col-md-4">
            <label>Division</label>
            <input type="text" class="form-control" placeholder="PAC" formControlName="division">
          </div>
        </div>
        <div class="form-group">
          <label>ATC Rating</label>
          <input type="text" class="form-control" placeholder="S2" formControlName="atc_rating">
        </div>
        <div class="form-group">
          <label>Pilot Rating</label>
          <input type="text" class="form-control" placeholder="None" formControlName="pilot_rating">
        </div>
        <div class="form-group" *ngIf="userService.check('users.perms')">
          <label>Primary Group</label>
          <div ngbDropdown class="col-12 col-md-4 my-2">
            <button class="btn btn-outline-primary w-100" ngbDropdownToggle type="button">{{primary ? primary.name : 'Member'}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem type="button" *ngFor="let group of groups" (click)="primary = group">{{group.name}}</button>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="userService.check('users.perms')">
          <label>Secondary Groups</label>
          <div class="d-flex justify-content-around align-items-center flex-wrap my-2">
            <ul class="list-group px-0 col-12 col-md-8">
              <li class="list-group-item text-muted text-center font-italic" *ngIf="secondary.length === 0">None</li>
              <li class="list-group-item font-weight-bold d-flex justify-content-between align-items-center" *ngFor="let g of secondary" [style.color]="'#' + g.colour || '000'">
                <span>{{g.name}}</span>
                <button class="btn btn-link text-danger" type="button" (click)="removeGroup(g)">
                  <fa-icon [icon]="'times'"></fa-icon>
                </button></li>
            </ul>
            <div ngbDropdown class="col-12 col-md-3 my-2">
              <button class="btn btn-outline-primary w-100" ngbDropdownToggle type="button" [disabled]="groups.length === 0">Add Group</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem type="button" *ngFor="let group of groups" (click)="addGroup(group)">{{group.name}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="discord.controls.id.value">
          <label>Discord</label>
          <div class="card d-flex flex-wrap flex-row justify-content-between align-items-center w-100 py-3 px-2">
            <div class="col-12 col-md-5 d-flex justify-content-center">
              <img class="h-75 rounded-circle m-2" src="https://cdn.discordapp.com/avatars/{{discord.controls.id.value}}/{{discord.controls.avatar.value}}.png" alt="">
              <div class="w-50 p-2">
                <h3 class="mt-4">{{discord.controls.username.value}}</h3>
                <span class="text-muted">#{{discord.controls.discriminator.value}}</span>
              </div>
            </div>
            <div class="col-12 col-md-6 p-3" *ngIf="ban.controls.kind.value">
              <h4 class="text-uppercase text-warning">{{ban.controls.kind.value}} Banned</h4>
              <p class="text-muted">Until {{expires | date: 'mediumDate'}} {{expires | date: 'shortTime'}} ({{timezone}})</p>
              <p><strong>Reason:</strong> {{ban.controls.reason.value}}</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Staff Notes</label>
          <div class="container pb-3" formArrayName="staff_notes">
            <div class="row justify-content-end px-3 pb-3">
              <button class="btn btn-primary" type="button" *ngIf="userService.check('user.notes.create')" (click)="newNote()">
                <fa-icon icon="plus"></fa-icon> New Note
              </button>
            </div>
            <div class="card overflow-hidden" *ngFor="let note of staff_notes.controls; let i = index" [formGroupName]="i">
              <div *ngIf="asFormGroup(note); let group" class="p-3">
                <div class="d-flex justify-content-between">
                  <p class="w-auto flex-grow-1">{{group.controls.content.value}}</p>
                  <div>
                    <button class="btn btn-info m-2" type="button" *ngIf="userService.check('user.notes.update')" (click)="editNote(i)"><fa-icon icon="edit"></fa-icon> Edit</button>
                    <button class="btn btn-danger m-2" type="button" *ngIf="userService.check('user.notes.delete')" (click)="deleteNote(confirmDeleteNote, i)"><fa-icon icon="trash"></fa-icon> Delete</button>
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <small class="text-muted p-1"><i>Created By </i> <strong>{{group.controls.creator.value}}</strong></small>
                  <small class="text-muted p-1" *ngIf="asFormGroup(asFormGroup(note).controls.editor).controls.user.value; let u"><i>Last Edit By </i> <strong>{{u}}</strong> - {{asFormGroup(asFormGroup(note).controls.editor).controls.date.value | date: 'shortDate'}}</small>
                </div>
              </div>
              <div *ngIf="loadingNotes.indexOf(i) !== -1" [@inOutAnimation] class="loader--wrapper position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="spinner-grow text-info" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
            <p class="text-center text-muted py-3" *ngIf="staff_notes.length === 0">There are no notes for this
              user.</p>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row justify-content-center m-4">
      <button class="btn btn-outline-primary btn-lg d-block col-lg-4 col-md-6 col-sm-10" type="submit" [disabled]="loading$ || !canSubmit$ || !user.valid">
        <span *ngIf="!loading$">{{submitTxt}}</span>
        <span *ngIf="loading$" class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
              <span class="sr-only">Loading...</span>
            </span>
      </button>
    </div>
  </form>
</div>

<ng-template #confirmDeleteNote let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-airports-title">Confirm delete this note?</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('cross-click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete this note?</strong></p>
    <p>All information associated to this note will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel-click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('ok-click')">Ok</button>
  </div>
</ng-template>
