<div class="container mt-4">
  <br/>

  <div class="form-group form-inline px-3">
    <div class="my-3 col-12 col-md-5">
      <div class="input-group">
        <input class="form-control ml-2" type="text" name="searchTerm" placeholder="Search Airports" [(ngModel)]="airportsService.searchTerm"/>
        <div class="input-group-append" *ngIf="airportsService.loading$ | async">
          <div class="input-group-text">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col" sortable="icao" class="selectable" (sort)="onSort($event)">ICAO <fa-icon [icon]="sort.column === 'name' && sort.direction !== '' ? (sort.direction === 'asc' ? 'sort-up' : 'sort-down') : 'sort'"></fa-icon></th>
      <th scope="col" sortable="apName" class="selectable" (sort)="onSort($event)">AP Name <fa-icon [icon]="sort.column === 'name' && sort.direction !== '' ? (sort.direction === 'asc' ? 'sort-up' : 'sort-down') : 'sort'"></fa-icon></th>
      <th scope="col" sortable="city" class="selectable" (sort)="onSort($event)">City <fa-icon [icon]="sort.column === 'name' && sort.direction !== '' ? (sort.direction === 'asc' ? 'sort-up' : 'sort-down') : 'sort'"></fa-icon></th>
      <th scope="col" sortable="country" class="selectable" (sort)="onSort($event)">Country <fa-icon [icon]="sort.column === 'name' && sort.direction !== '' ? (sort.direction === 'asc' ? 'sort-up' : 'sort-down') : 'sort'"></fa-icon></th>
    </tr>
    </thead>
    <tbody>
    <tr class="selectable" *ngFor="let airport of airports$ | async" (click)="router.navigate(['/operations/data/airports', airport._id])">
      <td><ngb-highlight [result]="airport.icao" [term]="airportsService.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="airport.apName" [term]="airportsService.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="airport.city" [term]="airportsService.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="airport.country" [term]="airportsService.searchTerm"></ngb-highlight></td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="(airports$ | async).length === 0" class="text-center">There are no airports.</p>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="total$ | async" [(page)]="airportsService.page" [pageSize]="airportsService.pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
    </ngb-pagination>

    <select class="custom-select w-auto" name="pageSize" [(ngModel)]="airportsService.pageSize">
      <option [ngValue]="5">5 Airports per Page</option>
      <option [ngValue]="10">10 Airports per Page</option>
      <option [ngValue]="15">15 Airports per Page</option>
    </select>
  </div>
</div>
