<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">{{ appTitle }}</a>
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" [attr.aria-expanded]="navToggled" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarSupportedContent" [ngbCollapse]="!navToggled" [@collapse]="isNavbarCollapsedAnim">
    <ul class="navbar-nav flex-sm-column flex-md-row ml-auto mt-sm-3 mt-md-0 text-center">
      <ng-template #logged>
        <li *ngIf="userService.isStaff()" class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
        </li>
        <li *ngIf="userService.hasEventAccess()" class="nav-item">
          <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clients" routerLinkActive="active">Clients</a>
        </li>
        <li *ngIf="userService.hasUserAccess()" class="nav-item">
          <a class="nav-link" routerLink="/access" routerLinkActive="active">Access</a>
        </li>
        <li *ngIf="userService.hasDataAccess()" class="nav-item">
          <a class="nav-link" routerLink="/data" routerLinkActive="active">Data</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link text-danger w-100" (click)="logout()">Log Out</button>
        </li>
      </ng-template>
      <li class="nav-item" *ngIf="!loggedIn(); else logged">
        <button class="btn btn-link nav-link w-100" (click)="login()">Log In</button>
      </li>
    </ul>
  </div>
</nav>
