<div class="container mt-4" [formGroup]="event">
  <h4>ATC Applications</h4>
  <br/>
  <div class="card">
    <div class="card-header">Settings</div>
    <div class="card-body">
      <div class="form">
        <div class="form-group">
          <label class="form-label">Shift Length (minutes)</label>
          <input type="number" class="form-control" formControlName="shiftLength" step="30">
        </div>
        <div class="small form-text text-danger" *ngIf="!shiftLength.valid">
          <div *ngIf="(shiftLength.errors && shiftLength.errors['notMultipleof30'])">Shift Length needs to be in increments of 30.</div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="card">
    <div class="card-header">
      Positions
      <p class="mb-0"><small class="text-muted">Max 20 positions.</small></p>
    </div>
    <div class="card-body">
      <p>Must be in the format <strong>YPAD_TWR</strong> or <strong>YMML-WOL_CTR</strong>, things that are not suggested are likely not available and will be filtered out. If there is a position that is not available that you require please contact an admin. You must include the entire ICAO before the position, it will not be displayed as this on the front end (instead for example <i>AD_TWR</i> or <i>ML-WOL_CTR</i>) but is required to accurately identify the correct position.</p>
      <div class="container-fluid bg-light px-3 py-2">
        <button class="btn btn-primary btn-sm" (click)="addIcao()">Add position</button>
        <button class="ml-3 btn btn-danger btn-sm" [disabled]="positions.length === 0" (click)="confirmClear(confirmClearModal)">Clear all positions</button>
      </div>
      <br>
      <table class="table table-striped" formArrayName="available">
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let position of positions.controls; let i = index">
            <tr class="bg-darklight">
              <th scope="row" class="w-100">
                <input
                  type="text"
                  placeholder="YPAD_TWR"
                  class="form-control text-uppercase"
                  [formControlName]="i"
                  maxlength="10"
                  [class.is-invalid]="searchFailed"
                  [ngbTypeahead]="search"
                  aria-label="Position"
                />
              </th>
              <td>
                <button class="btn btn-link text-danger" (click)="removeIcao(i)">
                  <fa-icon [icon]="'trash'"></fa-icon>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <p *ngIf="positions.controls.length === 0" class="text-center font-italic">There are no positions added yet!</p>
    </div>
  </div>
</div>


<ng-template #confirmClearModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirm delete all positions?</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('crossClick')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">ALL</span> positions?</strong></p>
    <p>All information associated to these positions will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancelClick')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('okClick')">Ok</button>
  </div>
</ng-template>
