<div class="container mt-4" [formGroup]="event">
  <div class="card">
    <div class="card-header">Applications</div>
    <div class="card-body">
      <p><strong>NOTE: </strong> When assigning a controller position, the position is set upon clicking the option the the dropdown, you <strong>do not</strong> need to click save at the bottom of the page.</p>

      <div class="row justify-content-end mx-1">
        <button class="btn btn-warning my-3 mx-2" (click)="sendReminder(confirmSendModal)">Send Reminder</button>
        <button class="btn btn-primary my-3 mx-2" (click)="openAddApplication(addApplicationModal)">Add Application</button>
        <button class="btn btn-info my-3 mx-2" (click)="openPreview()">Preview Application timeline</button>
      </div>

      <div *ngFor="let d of deselected" class="alert alert-warning" role="alert">
        <strong>{{d.user.cid + ((d.user.first_name && d.user.last_name) ?
          (' - ' + d.user.first_name + ' ' + d.user.last_name)
          : '')}}</strong> has deselected a position they have been rostered. {{formatDate(d.date)}} at {{formatTime(d.date)}} (UTC)
      </div>

      <table class="table table-hover table-striped text-center" *ngIf="applications.length > 0">
        <thead>
        <tr>
          <th scope="col">Controller</th>
          <th scope="col">Date (UTC)</th>
          <th scope="col">Time (UTC)</th>
          <th scope="col">Position</th>
          <th scope="col">Assign</th>
        </tr>
        </thead>
        <tbody formArrayName="applications">
          <tr *ngFor="let application of applications.controls; let i = index" [class.bg-warning]="application.get('position').value === 'DESELECTED'">
            <ng-container *ngIf="getApplicationGroup(i); let group">
              <ng-container *ngIf="getUserGroup(group); let user">
                <th scope="row">{{user.controls.cid.value + ((user.controls.first_name.value && user.controls.last_name.value) ?
                    (' - ' + user.controls.first_name.value + ' ' + user.controls.last_name.value)
                    : '')}}</th>
                <td>{{formatDate(group.controls.date.value)}}</td>
                <td>{{formatTime(group.controls.date.value)}}</td>
                <td>{{group.controls.position.value}}</td>
                <td>
                  <div ngbDropdown>
                    <button class="btn btn-outline-primary" [class.btn-outline-success]="isSuccess(user.controls._id.value, group.controls.date.value)" ngbDropdownToggle [disabled]="isLoading(user.controls._id.value, group.controls.date.value)">
                      <span *ngIf="!isLoading(user.controls._id.value, group.controls.date.value); else loaderBtn">{{selected(group.controls.date.value, user.controls._id.value) || 'None'}}</span>
                      <ng-template #loaderBtn>
                            <span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
                              <span class="sr-only">Loading...</span>
                            </span>
                      </ng-template>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="publishStatusDdwn">
                      <button ngbDropdownItem (click)="assignPosition(user, group.controls.date.value, null, null)">{{'None'}}</button>
                      <ng-container *ngFor="let position of available.controls">
                        <button ngbDropdownItem (click)="assignPosition(user, group.controls.date.value, position.value, group.controls.private.value)">{{position.value}}</button>
                      </ng-container>
                    </div>
                  </div>
                </td>
              </ng-container>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <p *ngIf="applications.length === 0" class="text-center font-italic text-muted">There are no applications yet!</p>
    </div>
  </div>
</div>

<ng-template #addApplicationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Application</h4>
  </div>
  <div class="modal-body" [formGroup]="addApplicationForm">
    <div class="form-group">
      <label>User CID</label>
      <input type="text" class="form-control" placeholder="123456" formControlName="cid">
    </div>
    <div class="form-group">
      <label>Position</label>
      <input type="text" class="form-control" placeholder="TWR" formControlName="position">
    </div>
    <div class="form-group">
      <label>Date Time in ISO format (e.g. 2020-02-24T10:00:00.000Z)</label>
      <input type="text" class="form-control" placeholder="2020-02-24T10:00:00.000Z" formControlName="date">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.dismiss('closed')">
      Cancel
    </button>
    <button class="btn btn-primary" (click)="modal.close('ok')" [disabled]="applicationLoading$">
      Add Position
    </button>
  </div>
</ng-template>

<ng-template #confirmSendModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Send Reminder</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to send an email to <strong>ALL</strong> set positions? Make sure your roster is complete.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.dismiss('closed')">
      Cancel
    </button>
    <button class="btn btn-primary" (click)="modal.close('ok')">
      Full Send
    </button>
  </div>
</ng-template>
