<div class="container mt-4" [formGroup]="event">
  <div class="card">
    <div class="card-header">Applications</div>
    <div class="card-body">
      <p><strong>NOTE: </strong> When assigning a controller position, the position is set upon clicking the option the the dropdown, you <strong>do not</strong> need to click save at the bottom of the page.</p>

      <table class="table table-hover table-striped text-center" *ngIf="applications.length > 0">
        <thead>
        <tr>
          <th scope="col">Controller</th>
          <th scope="col">Date (UTC)</th>
          <th scope="col">Time (UTC)</th>
          <th scope="col">Position</th>
          <th scope="col">Assign</th>
        </tr>
        </thead>
        <tbody formArrayName="applications">
          <tr *ngFor="let application of applications.controls; let i = index">
            <ng-container *ngIf="getApplicationGroup(i); let group">
              <ng-container *ngIf="getUserGroup(group); let user">
                <th scope="row">{{user.controls.cid.value + ((user.controls.first_name.value && user.controls.last_name.value) ?
                    (' - ' + user.controls.first_name.value + ' ' + user.controls.last_name.value)
                    : '')}}</th>
                <td>{{formatDate(group.controls.date.value)}}</td>
                <td>{{formatTime(group.controls.date.value)}}</td>
                <td>{{group.controls.position.value}}</td>
                <td>
                  <div ngbDropdown>
                    <button class="btn btn-outline-primary" [class.btn-outline-success]="isSuccess(user.controls._id.value, group.controls.date.value)" ngbDropdownToggle [disabled]="isLoading(user.controls._id.value, group.controls.date.value)">
                      <span *ngIf="!isLoading(user.controls._id.value, group.controls.date.value); else loaderBtn">{{selected(group.controls.date.value, user.controls._id.value) || 'None'}}</span>
                      <ng-template #loaderBtn>
                            <span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
                              <span class="sr-only">Loading...</span>
                            </span>
                      </ng-template>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="publishStatusDdwn">
                      <button ngbDropdownItem (click)="assignPosition(user.controls._id.value, group.controls.date.value, null, null)">{{'None'}}</button>
                      <ng-container *ngFor="let position of available.controls">
                        <button ngbDropdownItem (click)="assignPosition(user.controls._id.value, group.controls.date.value, position.value, group.controls.private.value)">{{position.value}}</button>
                      </ng-container>
                    </div>
                  </div>
                </td>
              </ng-container>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <p *ngIf="applications.length === 0" class="text-center font-italic text-muted">There are no applications yet!</p>
    </div>
  </div>
</div>
