.timeline--wrapper {
  display: flex;
  align-items: center;
}

.timeline {
  left: 0;
  height: 65px;
  min-width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: left;
}

.timeline li {
  transition: all 200ms ease-in;
  flex: 1 0;
}

.timeline li .title {
  margin-bottom: 20px;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  height: 19px;
}

.timeline li .status {
  padding: 0 40px;
  width: 100%;
  min-width: 190px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease;
}
.timeline li .status h4 {
  font-weight: 600;
}
.timeline li .status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: -12.5px;
  transition: all 200ms ease;
}

.timeline li.complete .status:before {
  transition: all 200ms ease-in;
}

.timeline li.complete.dblue {
  color: #002CFF;
}

.timeline li.complete.dblue .status {
  border-top: 2px solid #002CFF;
}

.timeline li.complete.dblue .status:before {
  background-color: #002CFF;
  border: none;
}

.timeline li.complete.lblue {
  color: #00BFC2;
}

.timeline li.complete.lblue .status {
  border-top: 2px solid #00BFC2;
}

.timeline li.complete.lblue .status:before {
  background-color: #00BFC2;
  border: none;
}

.timeline li.complete.orange {
  color: #FFAA00;
}

.timeline li.complete.orange .status {
  border-top: 2px solid #FFAA00;
}

.timeline li.complete.orange .status:before {
  background-color: #FFAA00;
  border: none;
}

.timeline li.complete.red {
  color: #ff533c;
}

.timeline li.complete.red .status {
  border-top: 2px solid #ff533c;
}

.timeline li.complete.red .status:before {
  background-color: #ff533c;
  border: none;
}

.timeline li.complete.pink {
  color: #e002ff;
}

.timeline li.complete.pink .status {
  border-top: 2px solid #e002ff;
}

.timeline li.complete.pink .status:before {
  background-color: #e002ff;
  border: none;
}

.timeline li.complete.green {
  color: #00a403;
}

.timeline li.complete.green .status {
  border-top: 2px solid #00a403;
}

.timeline li.complete.green .status:before {
  background-color: #00a403;
  border: none;
}
