/* You can add global styles to this file, and also import other style files */

html, body {
  overflow-x: hidden;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.selectable {
  cursor: pointer;
}

.bg-darklight {
  background-color: rgba(0, 0, 0, .1) !important;
}

button:focus {
  outline: none;
}
